# tell Git which files/folders to ignore when tracking changes

# installed from package.json
node_modules/

# build output from client and server are regeneratable
dist/
build/
server-build/

# mac-specific metadata files
.DS_Store

# files that may contain secrets
.env
.env.production
.env.development

# not used right now
supabase.config.ts